# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/
.yarn/cache/
**/.yarn/cache/
**/.yarn/install-state.gz

# Expo
.expo/
dist/
web-build/
expo-env.d.ts

# Native
*.orig.*
**/ios/Pods/
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

.gitconfig

# local env files
.env*.local

# typescript
*.tsbuildinfo

app-example

.env

# Expo
.expo
dist/
web-build/
build/